
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title> CSC 424 </title>
      <!-- EXTERNAL css  FILE LINKING -->
    <link rel="stylesheet" href="css/style.css">

      <!-- EXTERNAL js FILE LINKING -->
      <!--<script  src="script.js"> </script>-->
      <!--<script  src="comparison.js"> </script>-->
      <!--<script  src="conditional.js"> </script>-->
      <!--<script  src="loops.js"> </script>0-->
     <!--<script  src="function.js"> </script>-->
    <!-- <script  src="arrays.js"> </script>-->
    <!--<script  src="object.js"> </script>-->
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="https://github.com/Eblazecode/csc424.git">Git repo</a></li>
        </ul>
      </nav>
    </header>

    <!--  NAVBAR TOP RIGHT 
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    -->
    <section class="hero">
      <h1>CSC 424 CAPSTONE PROJECT  </h1>
      <h1>Congratulation your CI-CD pipeline is active! </h1>
      <p>This page indicates that you can now successfully deploy your group's web application </p>
      <a href="https://console.aws.amazon.com" class="btn btn-primary">start commit</a>
    </section>
    
   

  </body>
</html>
